.rowSliderButtonLeft {
  all: unset;
  width: 44px;
  height: 272px;
  position: absolute;
  left: 0px;
  top: 1152px;
  background-color: rgba(255, 146, 224, 0.27);
}

.rowSliderButtonLeftVector {
  position: relative;
  left: 26px;
}

.rowSliderButtonRight {
  all: unset;
  width: 44px;
  height: 272px;
  position: absolute;
  right: 0px;
  top: 1152px;
  background-color: rgba(255, 146, 224, 0.27);
}

.rowSliderButtonRightVector {
  position: relative;
  left: 6.5px;
}

.rowSliderSliderTrack1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 128px;
}

.rowSliderSliderTrack2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 128px;
}

.rowSliderSlide1 {
  background-color: #866262;
  width: 128px;
  height: 128px;
}

.rowSliderSlide2 {
  background-color: #5effb1;
  width: 128px;
  height: 128px;
}