.rowSliderButtonLeft {
  all: unset;
  position: absolute;
  left: 0px;
  top: 1152px;
}

.rowSliderButtonRight {
  all: unset;
  position: absolute;
  right: 0px;
  top: 1152px;
}

.rowSliderSliderTrack1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 128px;
}

.rowSliderSliderTrack2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 128px;
}

.rowSliderSlide1 {
  background-color: #866262;
  width: 128px;
  height: 128px;
}

.rowSliderSlide2 {
  background-color: #5effb1;
  width: 128px;
  height: 128px;
}
