@import url(../../typo.css);

.rowWrapper {
  box-sizing: content-box;
  height: 778px;
}
.rowTextWrapper {
  width: 320px;
  height: 106px;
  margin: 0;
  text-align: right;
  position: absolute;
  top: 1162px;
  right: 20px;
}

.rowGrayTypo {
  color: #707070;
}

.rowText1 {
}

.rowText2 {
}

.rowText3 {
}

.rowBackground {
  width: 100%;
  height: 552px;
  position: absolute;
  top: 1268px;
}
