@import "~antd/dist/antd.css";

.backTopButton {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 14;
}