@import url(../typo.css);

.introWrapper {
  height: 1082px;
}

.introTitleWrapper {
  position: absolute;
  top: 136px;
  left: 20px;
  width: 304px;
  height: 106px;
}

.introText1 {
  margin-bottom: 10px;
}

.introText2 {
  white-space: pre-line;
  line-height: 40px;
}

.introText3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.5%;
  position: absolute;
  top: 586px;
  left: 20px;
  white-space: pre-line;
  text-align: left;
  color: white;
}

.introText4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.5%;
  position: absolute;
  top: 722px;
  right: 20px;
  white-space: pre-line;
  text-align: right;
  color: white;
}

.introImg1 {
  position: absolute;
  top: 282px;
  left: 0px;
  height: 240px;
  z-index: 9;
}

.introImg2 {
  position: absolute;
  top: 474px;
  right: 0px;
  height: 184px;
  z-index: 8;
}

.introImg3 {
  position: absolute;
  top: 690px;
  left: 0px;
  height: 184px;
  z-index: 9;
}

.introImg4 {
  position: absolute;
  top: 826px;
  right: 0px;
  width: 320px;
  height: 216px;
  z-index: 8;
}
