@import url(../typo.css);

.introWrapper {
  box-sizing: content-box;
  border: none;
  padding-top: 40px;
  padding-bottom: 20px;
  height: 832px;
}

.introText1 {
  position: absolute;
  top: 120px;
  left: 28px;
}

.introText2 {
  position: absolute;
  top: 144px;
  left: 28px;
}

.introText3 {
  position: absolute;
  top: 211px;
  left: 28px;
  color: #707070;
}

.introText4 {
  position: absolute;
  top: 493px;
  right: 36px;
  white-space: pre-line;
  text-align: center;
}

.introText5 {
  position: absolute;
  top: 609px;
  left: 23px;
  white-space: pre-line;
  text-align: center;
}

.introImg1 {
  position: absolute;
  top: 264px;
  right: 20px;
  width: 216px;
  height: 216px;
  background-color: #d9d9d9;
  z-index: 8;
}

.introImg2 {
  position: absolute;
  top: 416px;
  left: 20px;
  width: 160px;
  height: 160px;
  background-color: #d04848;
  z-index: 9;
}

.introImg3 {
  position: absolute;
  top: 552px;
  right: 20px;
  width: 176px;
  height: 176px;
  background-color: #b97cf5;
  opacity: 69%;
  z-index: 10;
}

.introImg4 {
  position: absolute;
  top: 688px;
  left: 20px;
  width: 240px;
  height: 240px;
  background-color: #d9d9d9;
  z-index: 8;
}