@import url("../typo.css");

.navbarItems {
  background: #5effb1;
  height: 56px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 20px;
  right: 20px;
  z-index: 100;
}

.navbarLogo {
  background-color: #009fe3;
  margin-bottom: 0;
  color: black;
}

.navbarLogo:hover {
  color: white;
}

.menuButton {
  border: none;
  background-color: #009fe3;
  margin-bottom: 0;
}
