@import url("../typo.css");

.navbarItems {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  z-index: 10;
}

.navbarLogo {
  width: 84px;
  height: 20px;
  box-sizing: content-box;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbarHomeButton {
  box-sizing: content-box;
  padding: 6px;
}

.navbarBacktopButton {
  all: unset;
  box-sizing: content-box;
  padding: 6px;
}