@import url("../typo.css");

.navbarItems {
  height: 56px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.navbarLogo {
  width: 84px;
  height: 20px;
  box-sizing: content-box;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbarHomeButton {
  box-sizing: content-box;
  padding: 6px;
}
