@import url(../../typo.css);

.tableWrapper {
  box-sizing: content-box;
  background-color: white;
  width: 100%;
  height: 778px;
}

.tableTextWrapper {
  text-align: center;
  box-sizing: content-box;
  height: 106px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.tableText1 {
  color: black;
}

.tableText2 {
  color: black;
  padding-top: 10px;
  padding-bottom: 16px;
}

.tableText3 {
  color: #707070;
}
