th {
  font-weight: normal;
  white-space: pre-line;
  box-sizing: content-box;
}

.tableArea {
  width: 100%;
  height: 416px;
  background: linear-gradient(127.7deg, #30d0d0 5.88%, #340869 95.98%);
  padding: 20px;
}

.tableWrapper {
  width: 320px;
  height: 376px;
  overflow: auto;
  background-color: white;
}

.tableHead {
  all: none;
  width: 100%;
  height: 56px;
  background-color: black;
  color: white;
  position: sticky;
  top: 0px;
  padding: 0;
}
