@import url(../../typo.css);

.tableWrapperWrapper {
  box-sizing: content-box;
  background-color: white;
  width: 100%;
  height: 762px;
}

.tableWrapperTextWrapper {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.tableWrapperText1 {
  color: black;
}

.tableWrapperText2 {
  color: black;
}

.tableWrapperText3 {
  color: #707070;
}

.tableWrapperTableWrapper1 {
  width: 304px;
  height: 304px;
  background-color: #d9d9d9;
  position: relative;
  left: 8px;
}

.tableWrapperTableWrapper2 {
  width: 304px;
  height: 160px;
  background-color: #9a3030;
  position: relative;
  left: 8px;
}
