@import url(../../typo.css);

.tableSliderArea {
  width: 100%;
  height: 416px;
  background: linear-gradient(127.7deg, #30d0d0 5.88%, #340869 95.98%);
  padding: 20px;
}

.tableSliderWrapper {
  height: 376px;
}

.tableSliderHeader {
  background: black;
  height: 56px;
  padding: 12px 8px 12px 8px;
  display: flex;
  justify-content: space-between;
}

.tableSliderHeaderText {
  width: 64px;
  height: 32px;
  text-align: center;
}

.oneLine {
  padding-top: 5px;
}

.twoLine {
  white-space: pre-line;
  line-height: 120%;
}

.tableSliderData {
  height: 48px;
  background: white;
}

.tableSliderDataBorderBottom {
  border-bottom: 1px solid black;
  position: relative;
  top: 48px;
  left: 6px;
  right: 6px;
}

.tableSliderTextWrapper {
  height: 32px;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 9px;
  padding-bottom: 10px;
}

.tableSliderButtonWrapper {
  height: 48px;
  display: flex;
  justify-content: flex-start;
}

.tableSliderPrevButton {
  all: unset;
  height: 48px;
  text-align: center;
}

.tableSliderNextButton {
  all: unset;
  height: 48px;
  text-align: center;
}

.tableSliderButtonDivider {
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  height: 26px;
  width: 2px;
  top: 2429px;
  bottom: 11px;
}
